.artigo-img img{
    max-width: 700px;
}
.artigo-img h1{
    padding: 40px 0px;
    font-size: 30px;
}
.artigo-img div{
    display: flex;
    justify-content: space-between;
    max-width: 700px;
    margin: 0 auto;
}
.artigo-img div p{
    text-align: justify;
    max-width: 200px;
}

.artigo-video{
    padding: 0px 100px;
}
.artigo-video h1{
    padding: 40px 0px;
    font-size: 30px;
}
.artigo-video div{
    display: flex;
    justify-content: space-between;
}
.artigo-video div p{
    text-align: justify;
    max-width: 200px;
}

